@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

.outletContainer{
    margin-top: 100px;
}

.screenOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}